<mat-toolbar [color]="themeColor">
  <button
    mat-icon-button
    class="example-icon"
    matTooltip="Abrir ou recolher o menu lateral"
    aria-label="Abrir ou recolher o menu lateral"
    (click)="isOpened = !isOpened; toggleSidenav.emit(isOpened)"
  >
    <mat-icon *ngIf="!isOpened">menu</mat-icon>
    <mat-icon *ngIf="isOpened">close</mat-icon>
  </button>
  <span>Quick Docs</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    (click)="toggleTheme()"
    matTooltip="Escolher entre tema dark ou light"
  >
    <mat-icon>brightness_6</mat-icon>
  </button>
  <button mat-button matTooltip="Gerenciar docs" (click)="abrirDialogListaDocs()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
